.footer{
    background-color: #262626;
}
li{
    list-style: none;
}
.footer-right li{
    color:red;
}
h3{
    color:white;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
}