.second-section p{
    color:#6c757d;
}
.second-section{
    background: #F8f9fa;
}
.fourth-section{
    background: #F8f9fa;
}
.fifth-section_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sixth-section_imgs{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.sixth-section_imgs img{
    width:33%;
    height: 300px;
}
.sixth-section_imgs img:hover{
    filter: brightness(50%);
}
.seventh-section{
    background: #F8f9fa;
}
.seventh-section_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 90%;
}
.seventh-section_desc p{
    color:#6c757d;
}
.first-card{
    background-color: white;
    width: 300px;
    padding-top:5px;
}
.api-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left:50px; */
    flex-wrap: wrap;
    gap:20px;
    /* width: 200px;
    height: 200px; */
}
.card-btn{
    color:red;
    border: none;
}